* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: blue;
    text-align: center;
    color: white;
}

#IE {
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}